body {
    /* Home Page */
    /*background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.9), rgba(0,0,0,1)), url(rain.gif);
    */
    
    /* Clear Page */
    /*background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.9), rgba(0,0,0,1)), url(clear.gif);
    */
    
    /* Rain Page */
    /*background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.9), rgba(0,0,0,1)), url(rain2.gif);
    */
    
    /* T-Storm Page */
    /*background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.9), rgba(0,0,0,1)), url(tstorm.gif);
    */
    
    /* Snow Page */
    /*background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.9), rgba(0,0,0,1)), url(snow.gif);
    */
    
    /* Overcast Page */
    /*background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.9), rgba(0,0,0,1)), url(over.gif);
    */
    
    /* Night */
    background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.9), rgba(0,0,0,1)), url(night.gif);
    
    
    
    background-size: cover;
    background-position: center;
}


h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    font-size: 100px;
}
p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    font-size: 30px;
}

.button {
  background-color: #4CAF50;
  border: black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
    border: 2px solid #555555;
}

.textfield{
    border-color: white;
    font-size: 30;
}

.loctext{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    font-size: 18px;
}

.moodtext{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    font-size: 18px;
}

.mood{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.chatt{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: white;
}

.tm{
    font-family: 'Montserrat', sans-serif;
    font-size: 7px;
    color: white;
}