<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
</head>
<body>
    <h1>The Music Forecast</h1>
    <p>Let the Weather set the Mood</p>
    <div class="location" align="center">
        <text class="loctext">Please Enter Your Location:</text><br><br>
        <input type="text" class="textfield"><br>
        <button class="button">Submit Location</button><br>
        <br>
        <br>
        <br>
        <text class="moodtext">Or Please Select A Mood:</text>
        <select class="mood">
            <option value="happy">Happy</option>
            <option value="sad">Sad</option>
            <option value="mad">Mad</option>
            <option value="calm">Calm</option>
            <option value="scared">Scared</option>
            <option value="indifferent">Indifferent</option>
            <option value="melancoly">Melancoly</option>
        </select><br>
        <button class="button">Submit Mood</button><br>
        <text class="chatt">ChattleSnake</text>
        <text class="tm">TM</text>
    </div>
</body>
</html>